<form action="/submit" method="post">
  <label for="name"> name: </label>
  <input type="text" id="name" name="name" />
  <br />
  <label for=""> email: </label>
  <input type="text" id="email" name="email" />
  <br />
  <button type="submit">제출</button>
</form>
