.wrapper {
  width: 750px;
  margin: 0 auto;
  background-color: pink;
  position: relative;
}

#container {
  position: absolute;
  background-color: powderblue;
}

#container > img {
  width: 100%;
    height: 500px;
  display: none;
}

#container > img.active {
  display: block;
}
 
button {
  position: absolute;
  height: 100%;
  background-color: black;
  top: 0;
  color: white;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}
