$background: powderblue;
$green: green;
$black: #333;
$white: white;
$bisque: bisque;
$blue: blue;

@mixin flexGap($size: 0) {
  display: flex;
  gap: $size;
}

@mixin border($color, $width: 1px) {
  border: $width solid $color;
}

@mixin card-style($padding, $margin-bottom) {
  @include border($black);
  border-radius: 8px;
  margin-bottom: $margin-bottom;
  padding: $padding;
}

body {
  background-color: $background;
}

.container {
  .header {
    background-color: $green;
    padding: 10px;
  }

  .nav {
    @include flexGap(15px);
    background-color: $black;
    padding: 15px;

    &-item {
      color: $white;
    }
  }

  .content {
    background-color: $bisque;
    padding: 20px;

    .card {
      @include card-style(15px, 15px);

      &-title {
        font-size: 20px;
        color: $blue;
        margin-bottom: 10px;
      }

      &-description {
        font-size: 14px;
      }
    }
  }

  .footer {
    background-color: $black;
    color: $white;
    padding: 10px;
    text-align: center;
  }
}
